@mixin imgBtn {
    position: absolute;
    background-color: $button_dark;
    border-radius: 15px;
    color: $white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin: 30px;
    padding: 12px 18px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 250px;
}


@media only screen and (max-width: 600px) {
    .bgImg {
        width: 100%;
        height: 100vh;
        background-image: url("/images/bgImage4.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7;
        background-attachment: fixed;
    }

    .imgButton {
        @include imgBtn;
        top: 45vh;
        left: 32vw;
    }

}

@media only screen and (min-width: 601px) {
    .bgImg {
        width: 100%;
        height: 90vh;
        background-image: url("/images/bgImage3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7;
        background-attachment: fixed;
    }

    .imgButton {
        @include imgBtn;
        top: 45vh;
        left: 36%;
    }
}

@media only screen and (min-width: 751px) {
    .imgButton {
        @include imgBtn;
        top: 45vh;
        left: 33%;
    }

}

@media only screen and (min-width: 901px) {
    .bgImg {
        width: 100%;
        height: 90vh;
        background-image: url("/images/bgImage1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7;
        background-attachment: fixed;
    }

    .imgButton {
        @include imgBtn;
        top: 45vh;
        left: 34vw;
    }
}

@media only screen and (min-width: 1101px) {
    .imgButton {
        @include imgBtn;
        top: 47vh;
        left: 37vw;
    }
}

@media only screen and (min-width: 1401px) {
    .imgButton {
        @include imgBtn;
        top: 47vh;
        left: 42vw;
    }
}

.imgButton:disabled {
    pointer-events: none;
}

.imgButton:hover {
    color: $button_dark;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.imgButton:active {
    box-shadow: none;
    transform: translateY(0);
}